body {
background-position: right bottom;
background-repeat: no-repeat;
} 


 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Miriam;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Arial Black";
	panose-1:2 11 10 4 2 1 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	font-size:10.0pt;
	font-family:Arial;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p.Achievement, li.Achievement, div.Achievement
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:12.25pt;
	text-align:justify;
	text-indent:-12.25pt;
	line-height:11.0pt;
	font-size:10.0pt;
	font-family:Arial;
	letter-spacing:-.25pt;}
p.CompanyName, li.CompanyName, div.CompanyName
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Arial;}
p.JobTitle, li.JobTitle, div.JobTitle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:11.0pt;
	font-size:10.0pt;
	font-family:"Arial Black";
	letter-spacing:-.5pt;}
p.SectionTitle, li.SectionTitle, div.SectionTitle
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:10.0pt;
	font-family:"Arial Black";
	letter-spacing:-.5pt;}
p.Objective, li.Objective, div.Objective
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	line-height:11.0pt;
	font-size:10.0pt;
	font-family:Arial;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}